.root {
  display: flex;
  width: 100%;
  max-height: calc(100vh);
  min-height: calc(100vh);
  overflow: hidden;
  padding-top: 20px;
}

.errWrapper {
  display: flex;
  width: 100%;
  max-height: calc(100vh);
  min-height: calc(100vh);
  overflow: hidden;
  padding-top: 10vh;
  justify-content: center;
}


.callsWrapper {
  overflow-y: auto;
  flex: 1;
  padding: 0 10px 10px 7px;

  .headerBar {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 5px 10px;
    margin-bottom: 4px;
    overflow-x: auto;
    flex-wrap: nowrap;
  
    h4, h5 {
      margin: 0;
    }
  }
}

.manageLabelWrapper {
  width: 300px;
  padding: 10px 15px 10px 20px;
  background-color: white;
}