body {
  margin: 0;
  font-family: sans-serif;
  letter-spacing: 0.1px;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  scrollbar-color: #34495e #f1f1f1 !important;
  scrollbar-width: thin !important;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}


::-webkit-scrollbar-thumb {
  background: #34495e;
}


::-webkit-scrollbar-thumb:hover {
  background: #555;
}
