.root {
  display: flex;
  width: 100%;
  max-height: calc(-45px + 100vh);
  min-height: calc(-45px + 100vh);
  overflow: hidden;
  padding-top: 7px;
}

.callsWrapper {
  overflow-y: auto;
  flex: 1;
  padding: 0 10px 30px 7px;

  @media screen and (max-width: 600px) {
    margin-left: 30px;
  }
}

.errWrapper {
  display: flex;
  width: 100%;
  max-height: calc(-45px + 100vh);
  min-height: calc(-45px + 100vh);
  overflow: hidden;
  padding-top: 5vh;
  justify-content: center;
}

.sortBox {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 5px 10px;
  margin-bottom: 4px;
  overflow-x: auto;
  flex-wrap: nowrap;

  h4 {
    margin: 0;
    width: 80px;
  }
}

.callTime {
  display: flex;
  align-items: center;
}